<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Chomp Order</title>
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>

    <body>
        <h1>Choose your ingredients!</h1>
        <img th:src="@{/images/chainchomp.png}"/>

        <form method="POST" th:object="${burger}">
        <div class="grid">
            <div class="ingredient-group" id="proteins">
            <h3>Pick your protein:</h3>
            <div th:each="ingredient : ${protein}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
            </div>
        </div>

        <div class="grid">
            <div class="ingredient-group" id="veggies">
            <h3>Pick your veggies:</h3>
            <div th:each="ingredient : ${veggies}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
            </div>
        </div>

        <div class="grid">
            <div class="ingredient-group" id="cheeses">
            <h3>Pick your cheese:</h3>
            <div th:each="ingredient : ${cheese}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
            </div>
        </div>

        <div class="grid">
            <div class="ingredient-group" id="sauces">
            <h3>Pick your sauce:</h3>
            <div th:each="ingredient : ${sauce}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
            </div>
        </div>

        <div>
            </br>
            <button>Submit</button>
        </div>
        </form>
    </body>

</html>